*{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    background-color: aquamarine;
}
.cabecera{
    height: 7% ;
    background-color: cornflowerblue;
}
.head-nav{
    padding: 3px;
    background-color:;
}
.nav-bar{
    display: flex;
}
.cuerpo {
    height: 93%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.barra-izqui{
    background-color: darkgrey;
    

}
.barra-dere{
    
    background-color: white;

}