*{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    background-color: white;
}

header{
    background-color: black;
}

nav ul a{
    color: white;
}

header > nav {
    background-color: red;
}

header + section{
    background-color: blueviolet;
}
header ~ div {
    color: blue;
}
header ~ section{
    color: white;
}

section h2 {
    color: black;
}
section h2:hover {
    color: brown;
}

section button {
    padding: 5px;
    border-radius: 1px;
}
section > button:active {
    background-color: blue;
    color:  white;
}

article ul li:nth-child(2){
    color: blue;
}
::placeholder{
    color: cornflowerblue;
}
 p:hover::before{
    content: "❤😍";
}
p:hover::after{
    content: "🤞💖";
}

#corazon {
    background-color: cadetblue;
}
